@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

html {
    height: 100%;
}

body {
    background: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100%;
}

#root {
    height: 100%;
}

.row {
    height: 100%;
}

.chatbar {
    background: #222222;
    border-top: 1px solid black;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
}

.chatbar-message,
.chatbar-username {
    border: 1px solid black;
    background: #f8f8f8;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    padding: 0 9px;
    border-radius: 10px;
    outline: none;
}

.chatbar-message {
    flex: 8;
}

.chatbar-username {
    flex: 2;
}

.messages {
    height: 100%;
    overflow: scroll;
    padding: 60px 0;
    border-left: 25px solid #222222;
}

.message {
    display: flex;
    padding: 5px;
}

.message.system {
    font-style: italic;
    padding: 5px 20px;
}

.message-content,
.message-username {
    overflow: hidden;
    margin: 5px;
    padding: 0 10px;
}

.message-content {
    flex: 8;
}

.message-username {
    flex: 2;
    font-weight: 700;
}

.image_msg {
    width: 80%;
    height: 80%;
}

.navbar-inverse {
    .count, .navbar-brand{
        color: white;
    }
}

.user_list{
    height: 100%;
    background-color: #222222;
    padding: 60px 20px;
    color: white;
    overflow: scroll;
}